body,
html {
  width: 100%;
  height: 100%; 
  overflow: auto; 
}
body {
  background-image: url("../Images/bg1.jpg");
}
.myowncssbtn{
	background-color: lightgreen;
	border: 2px solid lightgrey;
}
.myowncssbtn:hover{
	background-color: lightgrey;
	border: 2px solid green;
	cursor: pointer;
}
.startup{
  position: relative;
  background-position: center;
  background-image: url("../Images/welcome.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
hr{
	background-color: white;
	width: 500px;
}
.head{
    font-family: 'Hi Melody', cursive;
}
#cpyrgtp{
  font-size: 25px;
  color: white;
}
.img1{
  border:5px solid black;
  border-radius: 500px;
  left: 0px;
  right: 0px;
  margin: auto;
}
.downloadcards{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  margin : 50px 50px;
}
