body,
html {
  width: 100%;
  height: 100%; 
  overflow: auto; 
}
body, html {
    height: 100%
}


.bgimg {
    /* Background image */
    background-image: url('../Images/welcome.jpg');
    /* Full-screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and zoom in the image */
    background-size: cover;
    /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
    position: relative;
    /* Add a vlack text color to all elements inside the .bgimg container */
    color: black;
    /* Add a font */
    font-family: 'Amatic SC', cursive;
    /* Set the font-size to 25 pixels */
    font-size: 50px;
}


/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the <hr> element */
hr {
    margin: auto;
    width: 40%;
}
img{
  height: 3em;
}
#link{
    color: black;
}
#link a{
    color: black;
}

body {
    font-family: Arial;
    color: white;
}
/*Slide Layer*/
.split {
    height: 50%;
    width: 50%;
    position: fixed;
    z-index: 0;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
.left {
    left: 0;
}
.right {
    right: 0;
    background-color: black;
}
/*.bleft {
    left: 0;
}
.bright {
    right: 0;
    bottom:0;
    background-color: black;
}*/
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/*Overlay*/
.overlaytext {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}
.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 50%;
  transition: .5s ease;
}
.container1:hover .overlay1 {
  width: 50%;
}
.overlay2 {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 50%;
  transition: .5s ease;
}
.container2:hover .overlay2 {
  width: 50%;
  right: 0;
}
.overlay3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 50%;
  transition: .5s ease;
}
.container3:hover .overlay3 {
  width: 50%;
}
.overlay4 {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 50%;
  transition: .5s ease;
}
.container4:hover .overlay4 {
  width: 50%;
  right: 0;
}




.middle p{
  font-size: 0.5em;
}